@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

button[type="submit"] {
    color: red;
    background-color: navy;

}

input {
    background-color: lime;
    color: darkmagenta;
}

h1 {
    color: orangered;
}

html{
    background-color:lightskyblue;
}